$hight-color:#ea6f5a;
$font-normal-color:#333;
$font-middle-color:#666;
$font-grey-color:#999;
$font-white-color:#fff;
$font-title-size:17px;

$background-normal-color:#eee;
$background-grey-color:#f4f4f4;


@mixin ellipsis($num){
    /*文字溢出省略*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    white-space: normal !important;
    word-wrap: break-word;
         
}